@model DetalharChurrasViewModel
@{
ViewData["Title"] = "Detalhes do churras";
}

<div class="form-group">
    <h4>@Model.Descricao - Arrecadação Total: @ViewData["TotalArrecadado"]</h4>
</div>
<div class="card-body mt-4">
    <ul class="item-group">
        @foreach (var item in Model.ParticipanteViewModels)
        {
        <li class="list-group-item list-group-item-action">
            @item.Nome ====> R$@item.ValorPago @(item.ComBebida ? " + Bebida " : "")
        </li>
        }
    </ul>
</div>