@{
    ViewData["Title"] = "Home Page";
}

  <div class="container">
<div class="row mt-5">
    <div class="card card-body shadow-sm m-2">
        <a asp-action="Index" asp-controller="Churras">
            <div class="text-center h3 p-5">
               <em class="fas fa-users"></em>
                Quero Organizar
            </div>
        </a>
    </div>
    <div class="card card-body shadow-sm m-2">
        <a asp-action="Index" asp-controller="Participante">
            <div class="text-center h3 p-5">
               <em class="fas fa-money-bill-wave-alt"></em>
               Quero Contribuir
            </div>
        </a>
    </div>
</div>
</div>
